<div class="create-meeting">
    <header class="page-header">
        <h2>Create New Meeting</h2>
    </header>

    <form class="form-horizontal" role="form" ng-submit="createMeeting.createMeeting()">
        <div class="col-md-6">
            <div class="form-group">
                <label for="meeting-title" class="col-sm-3 control-label">Meeting Title:</label>
                <div class="col-sm-9">
                    <input
                        id="meeting-title"
                        ng-model="createMeeting.meetingData.title"
                        type="text"
                        class="form-control"
                        placeholder="Meeting Title">
                        <validation-errors
                            ng-show='createMeeting.validationErrors["title"]'
                            error-messages='createMeeting.validationErrors["title"]'>
                        </validation-errors>
                </div>
            </div>
            <div class="form-group">
                <label for="meeting-start-date" class="col-sm-3 control-label">Start Datetime:</label>
                <div class="col-sm-9">
                    <input
                        type="text"
                        id="meeting-start-date"
                        bs-datepicker
                        data-date-format="dd/MM/yyyy"
                        data-min-date="{{ createMeeting.meetingData.end_date }}"
                        data-max-date="{{ createMeeting.meetingData.start_date }}"
                        data-autoclose="true"
                        class="form-control meeting-date col-md-3"
                        placeholder="Date"
                        ng-model="createMeeting.meetingData.start_date"
                    >
                    <input
                        type="text"
                        class="form-control meeting-time"
                        ng-model="createMeeting.meetingData.start_date"
                        data-time-format="HH:mm"
                        data-minute-step="15"
                        data-autoclose="true"
                        placeholder="Time"
                        bs-timepicker>
                    <validation-errors
                        ng-show='createMeeting.validationErrors["start_date"]'
                        error-messages='createMeeting.validationErrors["start_date"]'>
                    </validation-errors>
                </div>
            </div>
            <div class="form-group">
                <label for="meeting-end-date" class="col-sm-3 control-label">End Datetime:</label>
                <div class="col-sm-9">
                    <input
                        type="text"
                        id="meeting-end-date"
                        ng-disabled="!createMeeting.meetingData.start_date"
                        bs-datepicker
                        data-date-format="dd/MM/yyyy"
                        data-max-date="{{ createMeeting.meetingData.end_date }}"
                        data-autoclose="true"
                        class="form-control meeting-date col-md-3"
                        placeholder="Date"
                        ng-model="createMeeting.meetingData.end_date"
                    >
                    <input
                        type="text"
                        class="form-control meeting-time"
                        ng-disabled="!createMeeting.meetingData.start_date"
                        ng-model="createMeeting.meetingData.end_date"
                        data-time-format="HH:mm"
                        data-minute-step="15"
                        data-autoclose="false"
                        placeholder="Time"
                        bs-timepicker>
                    <validation-errors
                        ng-show='createMeeting.validationErrors["end_date"]'
                        error-messages='createMeeting.validationErrors["end_date"]'>
                    </validation-errors>
                </div>
            </div>
            <div class="form-group" ng-init="createMeeting.meetingType = 1" ng-show="createMeeting.phasesList.length > 0">
                <div class="col-md-9 col-md-offset-1">
                    <label class="radio-inline">
                        <input type="radio" ng-model="createMeeting.meetingType" id="inlineRadio1" value="1">
                        For Project
                    </label>
                    <label class="radio-inline">
                        <input type="radio" ng-model="createMeeting.meetingType" id="inlineRadio2" value="2">
                        For Project Phase
                    </label>
                </div>
            </div>
            <div class="form-group" ng-if="createMeeting.meetingType == 2">
                <label for="project-phase" class="col-sm-3 control-label">Project Phase:</label>
                <div class="col-sm-9">
                    <select id="project-phase" class="form-control" ng-model="createMeeting.meetingData.project_phase_id">
                        <option value>Select Phase</option>
                        <option value="{{ phase.id }}" ng-repeat="phase in createMeeting.phasesList">
                            {{ phase.name }}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="description" class="col-sm-3 control-label">Description:</label>
                <div class="col-sm-9">
                    <textarea
                        id="description"
                        ng-model="createMeeting.meetingData.description"
                        rows="8"
                        class="form-control"
                        placeholder="Description"></textarea>
                    <validation-errors
                        ng-show='createMeeting.validationErrors["description"]'
                        error-messages='createMeeting.validationErrors["description"]'>
                    </validation-errors>
                </div>
            </div>
            <button class="btn btn-primary pull-right">Save</button>
        </div>
    </form>
</div>