#wrapper {
  padding-left: 0;
  transition: all 0.5s ease; }

#wrapper.toggled {
  padding-left: 250px; }

#sidebar-wrapper, .navbar-inverse {
  background: #424958;
  border-color: #009688; }

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  transition: all 0.5s ease; }

#wrapper.toggled #sidebar-wrapper {
  width: 250px; }

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px; }

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px; }

/* Sidebar Styles */
.sidebar-nav {
  position: absolute;
  top: 7px;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none; }

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px; }

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #FFFFFF; }

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2); }

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none; }

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px; }

.sidebar-nav > .sidebar-brand a {
  color: #999999; }

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none; }

.main {
  top: 80px; }

#projects {
  cursor: pointer; }

.modal-backdrop.am-fade {
  opacity: .5;
  transition: opacity .15s linear; }
  .modal-backdrop.am-fade.ng-enter {
    opacity: 0; }
    .modal-backdrop.am-fade.ng-enter.ng-enter-active {
      opacity: .5; }
  .modal-backdrop.am-fade.ng-leave {
    opacity: .5; }
    .modal-backdrop.am-fade.ng-leave.ng-leave-active {
      opacity: 0; }

@media (min-width: 996px) {
  .main {
    margin-left: 15%; } }

@media (min-width: 768px) {
  #wrapper {
    padding-left: 250px; }
  #wrapper.toggled {
    padding-left: 0; }
  #sidebar-wrapper {
    width: 250px; }
  #wrapper.toggled #sidebar-wrapper {
    width: 0; }
  #page-content-wrapper {
    padding: 20px;
    position: relative; }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0; } }

.navbar-inverse .navbar-brand {
  margin-left: 50px !important;
  margin-top: 10px; }

.navbar-inverse .navbar-right {
  margin-right: 50px !important; }

.navbar-inverse .navbar-nav > li > a {
  display: block;
  text-decoration: none;
  color: #FFFFFF !important; }

.navbar-inverse .open a {
  background-color: #009688 !important; }
  .navbar-inverse .open a:focus {
    background-color: #009688 !important; }
  .navbar-inverse .open a:hover {
    background-color: #009688 !important; }

.navbar-inverse .dropdown-menu {
  background-color: #424958;
  padding: 10px;
  top: 40px; }
  .navbar-inverse .dropdown-menu li a {
    background-color: #424958 !important;
    color: #FFFFFF; }
    .navbar-inverse .dropdown-menu li a:hover {
      background-color: #51c1b1 !important; }
  .navbar-inverse .dropdown-menu li i {
    min-width: 20px; }

.navbar-inverse .current-project-name {
  font-size: 13px;
  color: #51c1b1;
  top: 5px;
  position: relative; }

.navbar-inverse .invitations {
  width: 310px;
  min-width: 0;
  background-color: #424958 !important;
  color: #FFFFFF; }
  .navbar-inverse .invitations .dropdown-menu li {
    display: block; }
  .navbar-inverse .invitations .accept-decline {
    position: relative;
    top: -10px; }
    .navbar-inverse .invitations .accept-decline span:first-of-type {
      margin-right: 10px; }
    .navbar-inverse .invitations .accept-decline span {
      cursor: pointer;
      font-size: 25px; }

.navbar-inverse .count-info {
  line-height: 12px;
  padding: 2px 6px;
  position: absolute;
  right: 6px;
  top: 8px;
  color: #1ab394;
  background-color: #FFFFFF;
  font-family: 'Open Sans';
  font-size: 10px;
  font-weight: 600;
  text-shadow: none;
  border-radius: 5px; }

@media (min-width: 768px) {
  .navbar-inverse .navbar-top-links .invitations, .navbar-inverse .navbar-top-links .dropdown-tasks, .navbar-inverse .navbar-top-links .dropdown-alerts {
    margin-left: auto; } }

.create-meeting .meeting-date, .create-meeting .meeting-time, .meeting-settings .meeting-date, .meeting-settings .meeting-time {
  width: 35% !important; }

.create-meeting .meeting-date, .meeting-settings .meeting-date {
  margin-right: 5px; }

.meeting-settings .meeting-settings-footer {
  margin-top: 15px;
  margin-right: 0px; }

.meeting-settings .task-list-table {
  top: -65px; }

.meeting-settings .task-list-btn {
  margin-right: 10px; }

.meetings-timeline .timeline-header {
  padding-bottom: 20px; }

.meetings-timeline .start {
  top: -35px; }

.meetings-timeline .end {
  top: 0px; }

.meetings-timeline .start, .meetings-timeline .end {
  width: 9%;
  font-size: 13px;
  left: 48%; }

.meetings-timeline .meeting-state {
  cursor: pointer; }

.meetings-timeline .meeting-tasks {
  position: relative;
  top: -55px; }

.project-settings .page-header {
  margin: 0 0 30px; }
  .project-settings .page-header button {
    margin-top: -45px; }

.project-settings .project-settings-footer {
  margin-top: 15px;
  margin-right: 0px; }

.project-settings .upload-files {
  left: 5%; }

.project-settings .phase {
  margin-right: 10px; }

.project-timeline .start {
  top: -20px; }

.project-timeline .timeline-header {
  padding-bottom: 20px; }

.project-phase .new-phase .page-header {
  margin: 0 0 30px; }

.modal.upload-picture .cropArea {
  background: rgba(228, 228, 228, 0.3);
  overflow: hidden;
  width: 350px;
  height: 350px; }

.modal.upload-picture .modal-dialog {
  width: 60%; }

.modal.upload-picture .cropped-img img {
  position: relative;
  left: 20%;
  margin-top: 68px;
  border: 2px solid grey; }

.modal.upload-picture .select-picture {
  margin-top: 10px;
  margin-bottom: -20px; }

/*# sourceMappingURL=all.css.map */
