.meeting-settings {

    .meeting-settings-footer {
        margin-top: 15px;
        margin-right: 0px;
    }
    
    .task-list-table {
        top: -65px;
    }
    
    .task-list-btn {
        margin-right: 10px;
    }

}