<div class="col-md-4 col-md-offset-4">
    <form role="form" ng-submit="auth.registration()">
        <div class="form-group">
            <input
                ng-style="auth.validationErrors['email'].length > 0 && { 'border-color': 'red' }"
                type="text"
                ng-model="auth.registrationData.email"
                class="form-control"
                placeholder="Email">
            <validation-errors
                ng-show='auth.validationErrors["email"]'
                error-messages='auth.validationErrors["email"]'>
            </validation-errors>
        </div>
        <div class="form-group">
            <input
                ng-style="auth.validationErrors['password'].length > 0 && { 'border-color': 'red' }"
                type="password"
                ng-model="auth.registrationData.password"
                class="form-control"
                placeholder="Password">
            <validation-errors
                ng-show='auth.validationErrors["password"]'
                error-messages='auth.validationErrors["password"]'>
            </validation-errors>
        </div>
        <div class="form-group">
            <input
                ng-style="auth.validationErrors['password_confirmation'].length > 0 && { 'border-color': 'red' }"
                type="password"
                ng-model="auth.registrationData.password_confirmation"
                class="form-control"
                placeholder="Confirm Password">
            <validation-errors
                ng-show='auth.validationErrors["password_confirmation"]'
                error-messages='auth.validationErrors["password_confirmation"]'>
            </validation-errors>
        </div>
        <div class="form-group">
            <button class="btn btn-primary btn-lg btn-block">Create Account!</button>
            <a href="/login"><span class="pull-right">Login!</span></a>
        </div>
    </form>
</div>
