.project-settings {
    .page-header {
        margin: 0 0 30px;
        
        button {
            margin-top: -45px;
        }
    }
    
    .project-settings-footer {
        margin-top: 15px;
        margin-right: 0px;
    }
    
    .upload-files {
        left: 5%;
    }
    
    .phase {
        margin-right: 10px;
    }
}