.meetings-timeline {
    .timeline-header {
        border-bottom: 1px solid #808080;
        margin-bottom: 55px;
        margin-top: 20px;
        
        .control-label {
            left: 95px;
            line-height: 2;
        }
    }
}