<div class="new-phase">
    <header class="page-header">
        <div class="row">
            <h2>
                Create Project Phase
            </h2>
        </div>
    </header>
    <div class="row">
        <form class="form-horizontal" ng-submit="createPhase.createPhase()">
            <div class="col-md-5">
                <div class="form-group">
                    <label for="phase-title" class="col-sm-3 control-label">Phase Title:</label>
                    <div class="col-sm-9">
                        <input id="phase-title"
                            ng-model="createPhase.phaseData.title"
                            type="text"
                            class="form-control"
                            placeholder="Phase Title">
                        <validation-errors ng-show='createPhase.validationErrors["title"]' error-messages='createPhase.validationErrors["title"]'>
                        </validation-errors>
                    </div>
                </div>
                <div class="form-group">
                    <label for="start-date" class="col-sm-3 control-label">Start Date:</label>
                    <div class="col-sm-9">
                        <input type="text"
                            id="start-date"
                            datepicker-localdate
                            bs-datepicker
                            data-date-format="MM/dd/yyyy"
                            data-min-date="{{ createPhase.minStartDate }}"
                            data-max-date="{{ createPhase.phaseData.end_date }}"
                            class="form-control"
                            placeholder="Start Date"
                            data-autoclose="true"
                            ng-model="createPhase.phaseData.start_date">
                        <validation-errors ng-show='createPhase.validationErrors["start_date"]' error-messages='createPhase.validationErrors["start_date"]'>
                        </validation-errors>
                    </div>
                </div>
                <div class="form-group">
                    <label for="end-date" class="col-sm-3 control-label">End Date:</label>
                    <div class="col-sm-9">
                        <input type="text"
                            id="end-date"
                            datepicker-localdate
                            ng-disabled="!createPhase.phaseData.start_date"
                            bs-datepicker
                            data-date-format="MM/dd/yyyy"
                            data-min-date="{{ createPhase.phaseData.start_date }}"
                            class="form-control"
                            placeholder="End Date"
                            data-autoclose="true" 
                            ng-model="createPhase.phaseData.end_date">
                        <validation-errors ng-show='createPhase.validationErrors["end_date"]' error-messages='createPhase.validationErrors["end_date"]'>
                        </validation-errors>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="form-group">
                    <label for="phase-description" class="col-sm-3 control-label">Phase Description:</label>
                    <div class="col-sm-9">
                        <textarea
                            id="phase-description"
                            ng-model="createPhase.phaseData.description"
                            rows="7"
                            class="form-control"
                            placeholder="Phase Description">
                        </textarea>
                        <validation-errors
                            ng-show='createPhase.validationErrors["description"]'
                            error-messages='createPhase.validationErrors["description"]'>
                        </validation-errors>
                    </div>
                </div>
                <button class="btn btn-primary pull-right" ng-disabled="createPhase.disableBtn">Save</button>
            </div>
        </form>
    </div>
</div>